<h3>Commonly Used</h3>
<div *ngFor = "let usersetting of usersetting">
    <h4>{{ usersetting.title }}</h4>
    <p>{{ usersetting.detail }}</p>
    <p>{{ usersetting.value }}</p>
</div>
<h3>Text Editor</h3>
<div *ngFor = "let textEditor of textEditor">
    <h4>{{ textEditor.title }}</h4>
    <p>{{ textEditor.detail }}</p>
    <p>{{ textEditor.value }}</p>
</div>
<h3>Cursor</h3>
<div *ngFor = "let cursor of cursor">
    <h4>{{ cursor.title }}</h4>
    <p>{{ cursor.detail }}</p>
    <p>{{ cursor.value }}</p>
</div>